body{
    background-color: black;  
    height: 100vh;
    margin: 0px 100px;
    color: #fff;
    padding: 0 15px;
    
  }
 .background{
  background-image: url("background.png"); 
  
} 

/* .cjimagens{
  margin-top: 15px;  
} */



  /* .box>*:first-child {
      align-self: stretch;
  } */
  /* .box .selected {
      align-self: center;
      /* padding-top: 80px;  } */

  