body{
    background-color: black; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    /* margin: 0px 100px; */
    color: #fff;
    /* padding: 0 15px; */
    
    
  }
 .background{
  background-image: url("background.png"); 
  
} 
.corVermelha{
color: #FA6668;
}

.corcinza{
  color: gray;
}

/* .cjimagens{
  margin-top: 15px;  
} */



  /* .box>*:first-child {
      align-self: stretch;
  } */
  /* .box .selected {
      align-self: center;
      /* padding-top: 80px;  } */

  