body{
    background-color: black; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: #fff;
    }

section{
  max-height: 150vh;
  margin-top: 50px;
}

 .background{
  background-image: url("background.png"); 
  
} 
.corVermelha{
color: #FA6668;
}

.corcinza{
  color: gray;
}



  