/*Mobile*/
@media(max-width:992px){
    body{
        padding: 0;
        margin:0;
    }
/* sessão 1  ok */
.menu{
    flex-direction: column;
    align-items: center;
 }
 .menu div{
    margin-bottom: 10px;
} 
.menu button{
    margin-top: 10px;
}
.background background {
    max-width: 100%;
}


/* sessão 2  ok */
.containerSection2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.box1{
    width: 30%;
}

.box2{
    width: 30%;
    font-size: 30px;
}
.box3{
    width: 20%;
}

/* sessão 3 ok */
.tres{
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   width: 800px;

}
/* sessão 4 ok*/
.containerQuatro{
    flex-direction: column;
    padding-bottom: 300px;
    }
.number{
    border-right: none;
    margin-bottom: 60%;
    height: 180px;
    padding: 0;
}
.caixaTextosEimg{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    
}

.caixaTextosEimg img{
    padding-top: 0;
    
}
.bannerHnegro{
    display: none;
}
.caixaTextosEimg{
    flex-wrap: nowrap;
    padding:10px ;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.texto{ 
   
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
}
.textosquatro{
    margin:0;
    padding: 0;
}
/* .caixaTextosEimg img{
    width: 80%;
} */
/* sessão 5 */
.cinco{
     margin-top: 200px; 
}
.text{
    font-size: 20px;
    text-align: center;
    margin-top: 130px;
}
.apastro{
    flex-direction: column;
    justify-content: center;
}

.imgastro img{
    height: 100px; 
}
.apastro .parte1{
    border: none;
    width: 50%;
    height: 50%;
    justify-content: center;
   
    
}

.apastro .parte2{
 
    width: 50%;
    height: 50%;
    justify-content: center;
    
}
/* .titulo img{
    height: ;  
} */
/* sessão 6 */
.tituloPrincipalSeis {
    padding: 10px;
}
.melhoresArtistas{
    justify-content: center;
}
.maisSobre {
    padding:10px ;
}
.text{margin: 0;}

/* sessão 7 */
.sete{
    width: 100%;
}
.formEmenu{
    display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: none;
   padding-top: 0;
}
.form form {
    justify-content: center;
}

.menufooter{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 10px;
    width: 100%;
    border-left: none;
}
.fila{
    padding: 0;
    margin: 10px;
}
.logoNFT {
    padding: 20px 0px ;
}
.logoNFT {
    height: 15px;
}
.form {
    height: 50px
}

.form label{
    padding: 15px;
    font-size: 15px;
}
}