.quatro{
    padding-top: 20px;
    justify-content: flex-end;
    height: 400px;
    width:100% ;
    /* background-color: blueviolet; */
}
.container{
    background-color: blue;
    display: flex;
   
    
}
.number{
     background-color: brown;
     color: #fff;
     /* margin-left: 60px; */
     display: flex;
     flex-direction: column;
    /* justify-content: space-around; */
    /* margin: 50px 0 50px 0; */
    font-size: 20px;
     /* padding: 0px 10px 0px 50px;   */
     /*top, right, bottom, left */
  /* height: 100%; 
    width: 300px;  */
    }
    /* .cadaNum{
        background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding: 0;
        margin: 5px;
    } */
     .caixaTextosEimg{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 55%;
        right: 50%; 
        /* background-color: yellow; */
    }
    
     .texto {
    display: flex;
    justify-content: space-around ;
        /* background-color: orange; */
    /* height: 200px;
    width:800px ; */
    
    } 
    .alinhaTexto{
        margin-bottom: 15px;
    }
    .textosquatro{
        display: flex;
        justify-content: space-around;
        margin-right:150px ;
        /* background-color: red; */
    }
   

     .cor1{
         color: #cccc;
         font-size: 15px;
     }
    