.quatro{
    padding-top: 20px;
    justify-content: flex-end;
    height: 400px;
    width:100% ;
    /* background-color: blueviolet; */
}
.container{
    display: flex;
    
}
.number{
     
     /* background-color: blue;   */
     color: #fff;
     margin-left: 60px;
    margin-right: 50px;
    font-size: 20px;
    padding: 20px 10px 5px 50px;  /*top, right, bottom, left */
  /* height: 100%; 
    width: 300px;  */
    }
     .caixaTextosEimg{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 55%;
        right: 50%; 
        /* background-color: yellow; */
    }
    /* .wrap{
        
    } */
     .texto {
    display: flex;
    justify-content: space-around ;
        /* background-color: orange; */
    /* height: 200px;
    width:800px ; */
    
    } 
    /* .texto:nth-child(3){
     flex-shrink: 1;
    } */
    .textosquatro{
        margin-right:150px ;
        /* background-color: red; */
    }
   

     .cor1{
         color: #cccc;
         font-size: 15px;
     }
    