/*Não finalizado*/

.seis li {
    
    list-style-type: none;
    
}

.melhoresArtistas{
     display: flex ; 
    flex-wrap:wrap;
    
   
    }
 .cartaoartista:hover{
     transform: scale(1.05);
     background-color:#FA6668; 
        
 } 


    
    .cartaoartista{
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.656);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    color: #FFFFFF;
    /* border-radius: 5px; */
    cursor: pointer;/* o cursor é uma mãozinha */
    width: 220px;
    height: 80px;
    min-height: 70px;
    display: flex;
    align-items: center; 
    /* gap: .4rem; */
    flex-wrap: wrap;
   
    }
   .textoCartao{
       display: flex;
       flex-direction: column;
       
       
   }

.seis .melhoresArtistas img{
    width: 25%;
    border-radius: 50%;
    margin: 0 30px 0 10px;
    /*top, right, bottom, left */
}

