.sete{

    background-color: #363636;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    /*top, right, bottom, left */
    width: 100%;
}

.containerSete{
    padding: 0 30px 0 30px ;
    /*top, right, bottom, left */
}

.logoNFT{
    padding: 30px 0px 60px 0px;
    border-bottom: 1px solid gray;
}
.formEmenu{
     /* background-color: aqua;  */
    display: flex;
    align-items: center;
    padding-top: 50px;
    border-bottom: 1px solid gray;
    
}
.form{
    height: 150px;
    width: 350px;
    
}
.form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form label{
    padding: 25px;
    font-size: 25px;
}

.form label strong{
    color:  #d76161;
}

.menufooter{
    /* background-color: brown; */
    border-left: 1px solid gray;
    
}

.form input[type=text]{
    background-color: black;
    border: black;
    color: aliceblue;
}

.menufooter{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-left: 50px;
    width: 100%;
}
.fila{
    /* background-color:yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 15px;
}

.fila a{
    text-decoration: none;
    color:#778899;
    padding-bottom: 10px;
}
.rodape{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

.rodape svg{
    margin-left: 40px;
}