 .tres{
     background-color: aliceblue; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items:center;

   
    
} 


.imgAstro{
      margin: 15px;
    
     width: 20%;
     flex-grow: 3;
    
    
    
}