body{
  background-color: black;  
  height: 100vh;
  margin: 0px 100px;
  color: white;
}
header{
    background-image: url(imagens/assets/background.png);
}
.cor{
    color: red;
}
.container1{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.box2{
    font-size: 30px;
    padding: 0 150px;
}
.img1{
    padding-top: 15px;
}
  
.menu {
    display: flex;
    justify-content: space-between;
}
.menu ul{
    padding:0px;
    margin: 0px;
    list-style: none;
}
.menu ul li {
display: inline;
font-size: 18px;
}
.menu ul li a {
	padding: 2px 10px;
	display: inline-block;
    text-decoration:none;
    color: white;
}
